body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

p {
    color: black;
    background-color: grey;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.test-3 {
    color: blue;
    background-color: yellow;
    border: black;
    font-size: 25px;
    font-family: Helvetica, sans-serif
}

h3 {
    font-family: Helvetica, sans-serif;
}

.fire {
    text-align: ce;
    background: blue;
    color: white;
    padding: .6em 1.3em;
    border-radius: 5em;

    font-size: 20px;
    font-family: Impact, sans-serif;
    text-decoration: none;
}