@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #f2f2f2;
    font-family: 'Poppins';

// ===== Header =====
    .header{
        height: 60px;
        width: 100%;
        background-color: #0e0d1a;
        display: flex;
        justify-content: center;

        .container{
            width: 85%;
            // background-color: red;
            display: flex;
            justify-content: space-between;

            .logo{
                height: 60px;
                width: 15%;
                text-decoration: none;
                font-weight: bold;
                font-size: 24px;
                color: white;
                // background-color: green;
                text-align: center;
                line-height: 60px;
                
                span{
                    color: #45b5fe;
                }
            }

            .nav{
                height: 60px;
                width: 35%;
                // background-color: grey;
                display: flex;

                .nav-items{
                    width: 20%;
                    height: 60px;
                    // background-color: pink;
                    font-size: 14px;
                    text-align: center;
                    line-height: 60px;
                    color: white;
                    cursor: pointer;
                }

                .nav-items:hover{
                    font-weight: bold;
                    color: #45b5fe;
                }

                .current{
                    font-weight: bold;
                    color: white;
                }

            }
        }
    }

// ===== Home =====
    // Hero
    .banner{
        height: 480px;
        width: 100%;
        background-image: url('/images/banner.jpg');
        background-size: 100% 480px;
        display: flex;
        align-items: flex-end;

        .overlay{
            padding: 10px;
            width: 100%;
            background-color: #0e0d1ab3;
            display: flexbox;
            justify-content: center;
            color: white;
            text-align: center;
        }
    }

    // Profile Links
    .btn{
        width: 100%;
        background-color: #0e0d1a;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        .btn-link{
            margin: 10px 15px 10px 15px;
            color: #45b5fe;
            padding: 5px 15px;
            text-decoration: none;
        }

        .btn-link:hover{
            font-weight: bold;
            color: #0e0d1a;
            background: #45b5fe;
            border-radius: 5em;
        }
    }

// ===== Services =====
    .services{
        width: 100%;
        display: flex;
        padding: 20px 0px 20px 0px;
        justify-content: center;
    }
    
    .all-services{
        padding: 25px 0px 25px 0px;
        width: 100%;
        background-color: #0e0d1a;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .my-service{
            margin: 20px;
            width: 35%;
            // background-color: grey;
            display: flex;
            justify-content: left;
    
            .service-img{
                height: 300px;
                width: 40%;
                border: 0.5px solid #45b5fe;
                // background-color: red;
                display: flex;
                overflow: hidden;
            }

            .service-text{
                height: 180px;
                width: 60%;
                border: 0.5px solid #45b5fe;
                border-left: 0px;
                // background-color: #45b5fe;
                padding: 15px;
                color: white;

                .content{
                    margin-top: 15px;
                    font-size: 12px;
                }
            }
        }
    }
}