@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #f2f2f2;
  font-family: 'Poppins';
}

body .header {
  height: 60px;
  width: 100%;
  background-color: #0e0d1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .container .logo {
  height: 60px;
  width: 15%;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 60px;
}

body .header .container .logo span {
  color: #45b5fe;
}

body .header .container .nav {
  height: 60px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .container .nav .nav-items {
  width: 20%;
  height: 60px;
  font-size: 14px;
  text-align: center;
  line-height: 60px;
  color: white;
  cursor: pointer;
}

body .header .container .nav .nav-items:hover {
  font-weight: bold;
  color: #45b5fe;
}

body .header .container .nav .current {
  font-weight: bold;
  color: white;
}

body .banner {
  height: 480px;
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-size: 100% 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .banner .overlay {
  padding: 10px;
  width: 100%;
  background-color: #0e0d1ab3;
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
}

body .btn {
  width: 100%;
  background-color: #0e0d1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

body .btn .btn-link {
  margin: 10px 15px 10px 15px;
  color: #45b5fe;
  padding: 5px 15px;
  text-decoration: none;
}

body .btn .btn-link:hover {
  font-weight: bold;
  color: #0e0d1a;
  background: #45b5fe;
  border-radius: 5em;
}

body .services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 20px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .all-services {
  padding: 25px 0px 25px 0px;
  width: 100%;
  background-color: #0e0d1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .all-services .my-service {
  margin: 20px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body .all-services .my-service .service-img {
  height: 300px;
  width: 40%;
  border: 0.5px solid #45b5fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

body .all-services .my-service .service-text {
  height: 180px;
  width: 60%;
  border: 0.5px solid #45b5fe;
  border-left: 0px;
  padding: 15px;
  color: white;
}

body .all-services .my-service .service-text .content {
  margin-top: 15px;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */
