@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #0e0d1a;
    font-family: 'Poppins';
}

.container{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 80%;
	margin-left: 10%;
}

.padd{
	padding: 20px;
}

.article{
	height: 230px;
	width: 100%;
	background-color: white;
	margin-top: 20px;
	border-radius: 10px;
}

.padd-article{
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.news-img{
	width: 30%;
	height: 200px;
	display: flex;
}

.news-img>img{
	width: 100%;
	border-radius: 15px;
	border: 1px;
}

.news-detail{
	height: 200px;
	width: 70%;
	font-family: segoe UI;
	padding-left: 20px;
	padding-top: 5px;
	border-radius: 15px;
	box-shadow: 0 0 2px grey;
}

p:nth-child(2){
	margin-bottom: 15px;
	color: grey;
	font-size: 17px;
	font-weight: bold;
}

p:nth-child(3){
	color: grey;
	margin-bottom: 15px;
}

.btn{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: segoe UI;
	text-align: center;
	border: none;
	color: white;
	background-color: #1279e4;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
}

.filter{
  width: 100%;
}

input{
	height: 50px;
	width: 100%;
	text-indent: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 10px;
	outline: none;
	border: 1px solid gray;
}