@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #f2f2f2;
    font-family: 'Poppins';
}

h1, h3, ul, p{
    text-align: center;
    padding: 5px 0px 5px 0px;
    list-style: none;
}

// ===== Hero =====
.banner{
    width: 100%;
    align-items: center;

    .overlay{
        width: 100%;
        background-color: #0e0d1ae1;
        align-items: center;
        color: white;
        text-align: center;
    }
}

.btn{
    width: 100%;
    background-color: #0e0d1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    .btn-link{
        margin: 10px 15px 10px 15px;
        color: #45b5fe;
        padding: 5px 15px;
        text-decoration: none;
    }

    .btn-link:hover{
        font-weight: bold;
        color: #0e0d1a;
        background: #45b5fe;
        border-radius: 5em;
    }
}

.center-width{
    width: 100%;
    justify-content: center;
    display: flex;
    
    .width{
        width: 80%;
        padding: 15px 0px 15px 0px;
    }
}

.character{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

    img{
        padding: 20px;
    }
}

.music{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}